name: Deploy Static Site

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "Deploying static site..."

            sudo cp /var/www/html/index.html /var/www/html/index.html.bak || true
            sudo cp ~/repo/index.html /var/www/html/index.html
            sudo chmod 644 /var/www/html/index.html

            sudo systemctl reload nginx

            echo "Deployment complete!"
